@using Sandbox;
@using Sandbox.UI;
@using PostprocessPanel;
@using System.Collections.Generic;
@using static PostprocessPanel.Examples.Constants
@inherits PanelComponent
@namespace PostprocessPanel.Examples

<root>
	<PostprocessablePanel class="example" OnRendering="@OnRendering">
		<Display>
			<div class="fullscreen"></div>
		</Display>
		<Body>
			<div class="container">
				<div class="window">
					<Label>
						Hello world!
					</Label>
					<Label>
						The entire screen, including this panel is being passed through
						a postprocessable panel. This means we can apply any kind
						of effect to all of the panels!
					</Label>
					<Label>
						To mess around with the settings, in the Hierarchy
						find "Example" component, once there the
						"Fullscreen panel showcase" component has all the
						settings.
					</Label>
					<Label>
						On a side note, the library now copies all of the
						stylesheets of the display panel, so no more components
						are required!
					</Label>
					<Label>
						This example might not be the most inspiring though...
					</Label>
				</div>
				<div class="window big">
					<Label>Imagine this as a statusbar</Label>
					<Label>That has some really important information</Label>
				</div>
			</div>
		</Body>
	</PostprocessablePanel>
</root>

@code
{
	[Property]
	public ComputeTypes Compute { get; set; }

	[Range(0f, 7f), Step(0.1f)]
	[ShowIf(nameof(Compute), ComputeTypes.Dissolve)]
	[ShowIf(nameof(Compute), ComputeTypes.CrtDistortion)]
	[Property]
	public float Strength { get; set; } = 1f;

	private void OnRendering(PostprocessablePanel panel)
	{
		ComputeShader compute = new("example shaders/crtwarp.shader");

		panel.Attributes.Set("Curvature", Strength);

		panel.DispatchCompute(compute);
	}
}
