FullscreenPanelShowcase {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	> PostprocessablePanel {
		> .fullscreen {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			backdrop-filter: blur(10px);
			background-color: rgba(black, 0.6);
		}
	}
}

RenderingRoot {
	&.example > .container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;

		> .window {
			max-width: 900px;
			background-color: #181818;
			padding: 20px;
			flex-direction: column;
			gap: 15px;
			border-radius: 15px;
			border: 5px solid white;

			> label {
				color: white;
				font-size: 30px;
				font-family: Poppins;
			}

			&.big {
				max-width: 100%;
				width: 100%;
				min-height: 100px;
				background-color: indianred;
				border-radius: 0px;
				border-left: none;
				border-right: none;
				justify-content: center;
				align-items: center;
			}
		}
	}
}