@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox

<root>
	<div class="Upper">
		<label class="Title">TITLE</label>
		<label>COMMON</label>
		<label class="Comment">"The comment of all time"</label>
	</div>
	<div class="Bottom">
		<label class="Picked">When Picked:</label>
		<label>+2 power</label>
		<label>-2 power</label>
	</div>
</root>
